# With password:    mysql://root:yourpassword@127.0.0.1:3306/my_database
# Without password: mysql://root:@127.0.0.1:3306/my_database
DATABASE_URL="mysql://root:@127.0.0.1:3306/my_database"
AUTH_SECRET="run-npx-auth-secret-to-generate-this-value"
AUTH_TRUST_HOST="true"
